/***************\
|    GENERAL    |
\***************/

* {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    top: 0px !important;
    background: #182046;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.btn {
    display: inline-flex;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, #39f1fe 0%, #4c38fd 74%);
    border-radius: 50px;
    letter-spacing: 1px;
}

.btn:hover {
    transition: all 500ms;
    background: linear-gradient(180deg, #39f1fe 35%, #4c38fd 80%);
    box-shadow: 0px 0px 60px rgb(65, 191, 250);
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}

.fancy {
    background: linear-gradient(147deg, #39f1fe 5%, #4c38fd 74%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600; 
}

.subtitulo {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

.subtitulo-2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

/*****************\
|    SCROLLBAR    |
\*****************/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #18248b;
}

::-webkit-scrollbar-thumb:hover {
    background: #141e7a;
}

/**************\
|    NAVBAR    |
\**************/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.abajo {
    background: #111;
    padding: 20px 0;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    transition: color 0.3s ease;
}

.menu-btn:hover {
    background: linear-gradient(147deg, #39f1fe 0%, #4c38fd 74%);
    transform: scale(1.25);
    padding: 5px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    width: 85%;
    color: #fff;
    box-shadow: 0px 0px 50px rgb(65, 191, 250);
    letter-spacing: 1px;
}

/************\
|    HOME    |
\************/

.home {
    display: flex;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 30px;
}

.text-1 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.text-2 {
    font-size: 40px;
    margin: 5px 0;
    margin-bottom: 30px;
}

/****************\
|    SECTIONS    |
\****************/

section {
    padding: 100px 0;
}

.glass {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5.0px);
    -webkit-backdrop-filter: blur(5.0px);
    border-radius: 10px;
    padding-top: 40px;
    box-shadow: 0px 0px 18px rgb(61, 68, 68);
    padding-bottom: 40px;
}

.about .about-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: linear-gradient(147deg, #39f1fe 0%, #4c38fd 74%);
    transform: translateX(-50%);
}

/*__ABOUT__*/

.about .about-content .left {
    width: 40%;
}

.about .about-content .left img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 0px 18px rgb(39, 39, 39);
}

.about .about-content .right {
    width: 60%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p {
    text-align: justify;
}

/*__SKILLS__*/

img {
    width: 150px;
    height: 150px;
}

.parent{
    margin: 10px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

}
.child a{
    display: flex;
    margin: auto;
    padding: 10px;
    cursor: help;
    box-shadow: 0px 0px 18px rgb(39, 39, 39);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5.0px);
    -webkit-backdrop-filter: blur(5.0px);
    border-radius: 10px;
}

/*__PROJECTS__*/

.projects-content {
    align-items: center;
}

.proyecto {
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
    transition: 0.3s;
}

.proyecto:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
} 

/*__ACHIEVEMENTS__*/

.slider {
    max-width: 700px;
	margin:80px auto;
	position: relative;
	overflow: hidden;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    box-shadow: 0px 0px 18px rgb(39, 39, 39);
    animation-duration: 300ms;
}

.item-text {
    padding: 50px 30px 70px 60px;
}

.slider p {
    color:white;
}

.slider a {
    text-align: center;
    margin-right: 30px;
    color:#39f1fe;
}

.slider a:hover {
    color:#4c38fd;
}

.slider .left-slide,.slider .right-slide {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #4c38fd;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}

.slider .left-slide:hover,.slider .right-slide:hover {
 box-shadow: 0px 0px 40px rgb(65, 191, 250);
 background-color: #39f1fe;
}

.slider .left-slide {
	left: 0px;
}

.slider .right-slide {
	right: 0px;
}

.slider .slider-items .item img {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.img1 {
	width: 506px;
    height: 100px;
}

.img2 {
    width: 250px;
    height: 100px;
}

.img3 {
    width: 330px;
    height: 100px;
}

.slider .slider-items .item {
	display: none;
	position: relative;
}
.slider .slider-items .item .caption {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.5);
    line-height: 60px;
    text-align: center;
    color: #4c38fd;
    font-size: 30px;

}

.slider .slider-items .item.active {
	display: block;
    animation-duration: 1s;
    animation-name: zoom;
}

@keyframes zoom {
    0%{transform: scale(0);opacity: 0}
	100%{transform: scale(1);opacity:1}
}

/*__CONTACT__*/

.iconos {
    margin: 10px 0;
}

.fila {
    display: flex;
    height: 65px;
    align-items: center;
}

.info-1 {
    background: linear-gradient(90deg, #39f1fe 8%, #4c38fd 80%);
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 30px;
    font-weight: 600;
    font-size: 20px;
}

.info-2 {
    margin-left: 30px;
    font-size: 14px;
}

.contact .contact-content .left {
    width: 50%;
}

.contact .contact-content .right {
    width: 50%;
}

.contact .contact-content .fila i {
    font-size: 25px;
    color: #39f1fe;
}

.contact .right form .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 2px solid #39f1fe !important;
    
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border: 2px solid #4c38fd !important;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}
.fields input, .field input, .field textarea{
    color: white;
    background: transparent;
}

.contact .right form  .button-area  button {
    display: inline-flex;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, #39f1fe 0%, #4c38fd 74%);
    border-radius: 6px;
    letter-spacing: 1px;
    border: none;
}

.contact .right form .button-area button:hover {
    transition: all 500ms;
    background: linear-gradient(180deg, #39f1fe 35%, #4c38fd 80%);
    box-shadow: 0px 0px 60px rgb(65, 191, 250);
}

/**************\
|    FOOTER    |
\**************/

footer {
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

footer span a {
    color: #39f1fe;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

/*************\
|    ARROW    |
\*************/

.box {
    margin-left: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 50px;
    padding: 30px 20px;
  }
  
  .box span {
    display: block;
    margin: -10px;
    font-size: 50px;
    animation: animate 2s infinite;
  }
  
  .box span:nth-child(1)
  {
    animation-delay: 0.1s;
    color: #39f1fe;
  }

  .box span:nth-child(2)
  {
    animation-delay: 0.2s;
    color: rgb(50, 123, 218);
  }

  .box span:nth-child(3)
  {
    animation-delay: 0.3s;
    color: rgb(50, 61, 218);
  }
  
  @keyframes animate
  {
    0%
    {
      opacity: 0;
      transform: translate(0, -20px);
    }
    50%
    {
      opacity: 1;
    }
    100%
    {
      opacity: 0;
      transform: translate(0, 20px);
    }
  }

/******************\
|    RESPONSIVE    |
\******************/

@media (max-width: 1100px) {
    .menu {
        display: none;
    }

    .text-1 {
        font-size: 68px;
    }
    
    .text-2 {
        font-size: 33px;
    }

    .about .about-content .left {
        width: 100%;
    }

    .about .about-content .right {
        width: 100%;
    }

    .about .about-content .left img {
        height: 300px;
        width: 300px;
        display: block;
        margin: auto;
    }

    .about .about-content .right .subtitulo {
        margin-top: 15px;
    }

    .about .about-content .right .boton {
        display: flex;
        align-items: center;
    }

}

@media (max-width: 905px) {
    .text-1 {
        font-size: 50px;
    }
    
    .text-2 {
        font-size: 25px;
    }

    .sk {
        height: 100px;
        width: 100px;
    }

    .img1 {
        width: 280px;
        height: 60px;
    }
    
    .img2 {
        width: 120px;
        height: 60px;
    }
    
    .img3 {
        width: 150px;
        height: 60px;
    }
}

@media (max-width: 710px) {
    .contact .contact-content .left,
    .contact .contact-content .right {
        width: 100%;
        margin-bottom: 35px;
    }
    
}

@media (max-width: 600px) {
    .about .about-content .left img {
        height: 250px;
        width: 250px;
    }

    .box {
        top: 90%;
        margin: auto;
    }

    .box span {
        font-size: 30px;
    }

    .img1 {
        width: 170px;
        height: 50px;
    }
    
    .img2 {
        width: 100px;
        height: 50px;
    }
    
    .img3 {
        width: 130px;
        height: 50px;
    }

    .slider {
        font-size: 14px;
    }

    .slider .slider-items .item .caption {
        font-size: 25px;
    }

}

@media (max-width: 418px) {
    .navbar .logo a {
        font-size: 25px;
        margin-left: -20px;
    }

    .abajo {
        padding: 40px 0 5px 0;
    }

    .text-1 {
        font-size: 30px;
    }
    
    .text-2 {
        font-size: 20px;
    }

    .btn {
        font-size: 14px;
        padding: 13px 26px;
    }

    .about .about-content .left img {
        height: 150px;
        width: 150px;
    }

    .title{
        font-size: 30px;
    }

    p{
        font-size: 12px;
    }

    .subtitulo {
        font-size: 20px;
    }

    .subtitulo-2 {
        font-size: 15px;
    }

    .sk {
        height: 40px;
        width: 40px;
    }

    footer {
        font-size: 12px;
    }

    .slider {
        font-size: 12px;
    }

    .img1 {
        width: 80px;
        height: 40px;
    }
    
    .img2 {
        width: 80px;
        height: 40px;
    }
    
    .img3 {
        width: 80px;
        height: 40px;
    }

    .slider a {
        display: block;
    }

    .slider .slider-items .item .caption {
        font-size: 16px;
    }

}
