/***************\
|    GENERAL    |
\***************/

* {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    top: 0px !important;
    background: #020616;
    font-family: 'Poppins', sans-serif;
}

.btn {
    display: inline-flex;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, #39f1fe 0%, #4c38fd 74%);
    border-radius: 50px;
    box-shadow: 0px 0px 40px rgb(65, 191, 250);
    letter-spacing: 1px;
}

.btn:hover {
    transition: all 500ms;
    background: linear-gradient(180deg, #39f1fe 35%, #4c38fd 80%);
    box-shadow: 0px 0px 60px rgb(65, 191, 250);
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}

.fancy {
    background: linear-gradient(147deg, #39f1fe 0%, #4c38fd 74%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600; 
    transition: all 0.3s ease;
}

.subtitulo{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
}

/*****************\
|    SCROLLBAR    |
\*****************/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/**************\
|    NAVBAR    |
\**************/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    transition: color 0.3s ease;
}

.navbar .menu li .cambio:hover {
    background: linear-gradient(147deg, #39f1fe 0%, #4c38fd 74%);
    transform: scale(1.25);
    padding: 5px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    width: 85%;
    color: #fff;
    box-shadow: 0px 0px 50px rgb(65, 191, 250);
    letter-spacing: 1px;
}

/************\
|    HOME    |
\************/

.home {
    display: flex;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 30px;
}

.text-1 {
    font-size: 27px;
}

.text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.text-3 {
    font-size: 40px;
    margin: 5px 0;
    margin-bottom: 30px;
}



/****************\
|    SECTIONS    |
\****************/

section {
    padding: 100px 0;
}

.glass {
    background: rgba(211, 211, 211, 0.15);
    backdrop-filter: blur(5.0px);
    -webkit-backdrop-filter: blur(5.0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding-top: 40px;
    padding-bottom: 40px;
}

.about .about-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}

/*__ABOUT__*/

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p {
    text-align: justify;
}

/*__SKILLS__*/

img {
    width: 100px;
    height: 100px;
}

/**************\
|    FOOTER    |
\**************/

footer {
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

footer span a {
    color: #4c38fd;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}
